<header>Buscador</header>
<main>
	<aside>
		<div>
			<div class="userDetails--imagen">
			</div>
			<h3>Darth Vader</h3>
			<p>anakynskywalker</p>
			<p><i class="material-icons md-36">email</i> darth@deathstar.com</p>
			<p><i class="material-icons md-36">star_border</i> 99</p>
			<p><i class="material-icons md-36">archive</i> 73</p>
			<p><i class="material-icons md-36">format_quote</i> Villain and father</p>
			<p><i class="material-icons md-36">people_outline</i> 57483990</p>
		</div>
	</aside>
	<app-user-repos></app-user-repos>
</main>
<router-outlet></router-outlet>